---
---

$pattern: "{{ site.baseurl }}/images/pattern.png";
$screenshot-buttons: "{{ site.baseurl }}/images/screenshot-buttons.svg";

$fav-blue-color: #40597D;
$vegas-gold-color: #D6A753;
$rich-black-color: #000F08;
$smokey-white-color: #F8F8F8;

$brand-color: $fav-blue-color;
$secondary-brand-color: $vegas-gold-color;
$tertiary-brand-color: $vegas-gold-color;

$html-background-color: $smokey-white-color;

$middle-gradient-color: mix($brand-color, $secondary-brand-color, 95%);

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";

$section-rotation: 5deg;

@import "elements";
@import "layout";
@import "contact";
@import "blog";
@import "forms";
@import "navigation";
@import "footer";
@import "cloudcannon";
@import "monokai";
