---
title: weroes
---

<section class="hero diagonal">
	<div class="container">
		<h2>Vi bygger software. Simpelt.</h2>
		<p class="subtext editable">Innovative digitale løsninger indenfor</p>
		<p class="subtext editable">Apps · Web · Computer Vision</p>
		<p class="subtext editable">Brugervenlighed · User Experience</p>
		<p><a class="button alt" href="{{ site.baseurl }}/contact/">Skal vi mødes?</a></p>
		<img class="torso" src="images/soren-portrait-jan-19.png" />
	</div>
</section>

<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<h3>Hvad kan jeg gøre for dig?</h3>
			<ul>
				<li>Udvikle din <strong>app prototype</strong> eller en <strong>færdig app</strong> i App Store og Play</li>
				<li>Udvikle alle aspekter af dit <strong>website</strong> og <strong>online tjenester</strong></li>
				<li>Sikre at dine brugere bliver glade for dit digitale produkt ved at optimere <strong>brugervenlighed og UX</strong></li>
				<li>Gennemgå <strong>arkitekturen</strong> i dit eksisterende digitale tjenester for at forbedre hastigheden eller flow</li>
				<li>Du kan også body-shoppe mig. Jeg har 18 års erfaring med <strong>Ruby, C#, JS, Node, Python, Obj-C, Swift, Java m.fl.</strong> <a href="https://www.linkedin.com/in/skovsboll/" target="_blank">Læs mere  &rarr;</a></li>
			</ul>
		</div>
		<div>
			<ul class="image-grid">
				{% for client in site.clients limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}"></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="diagonal">
	<div class="container">
		<img class="feet" src="images/soren-shoes-jan-19.png" />
		<div>
			<h3><a name="about"></a>Hej! Jeg hedder Søren</h3>
			<p>Jeg har 18 års erfaring med at designe mobile apps, websites og digitale services, der er nemme at bruge og nemme at vedligeholde.
<p>Senest har jeg arbejdet for Microsoft med at bygge <a href="https://appcenter.ms" target="_blank">AppCenter</a> -- en cloud service som hjælper mobile app udviklere med at shippe bedre apps hurtigere.
	Næsten 100 udviklere, program managers og forretningsfolk arbejdede sammen på tværs af 6 tidszoner.
	Som manager for et distribueret team af software ingeniører balancerede jeg krav og tekniske muligheder, mens jeg sørgede for at holde mine folk engagerede og produktive.</p>
<p>De kunder, jeg har arbejdet med, dækker en lang række industrier, herunder e-handel, sundhedspleje, transport, supermarkedskæder, grøn teknologi og meget mere.</p>
<p>Jeg kan lide at være på teknologiens forkant og jeg elsker at træffe modige og fremadrettede beslutninger. Samtidig skærer jeg ind til benet, så teknologien ikke kommer i vejen for at levere forretningsværdi. </p>
<p><a href="https://www.linkedin.com/in/skovsboll/" target="_blank">Læs mere  &rarr;</a></p>
		</div>
	</div>
</section>
