---
title: weroes
---

<section class="hero diagonal">
	<div class="container">
		<h2 >Vi bygger software. Simpelt.</h2>
		<p class="subtext editable">Innovative digitale løsninger</p>
		<p class="subtext editable">Apps · Web · Strategi</p>
		<p class="subtext editable">Brugervenlighed og UX design</p>
		<p><a class="button alt" href="{{ site.baseurl }}/contact/">Kontakt os</a></p>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<h3>Hvad kan jeg gøre for dig?</h3>
			<ul>
				<li>Lave din app prototype og senere den færdige app til App Store og Play</li>
				<li>Udvikle alle aspekter af dit website og online tjenester</li>
				<li>Sikre at dine brugere bliver glade for dit digitale produkt ved at optimere brugervenlighed og UX</li>
				<li>Du kan også body-shoppe mig <a href="{{ site.baseurl }}/portfolio/">Læs mere  &rarr;</a></li>
			</ul>
		</div>
		<div>
			<ul class="image-grid">
				{% for client in site.clients limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}"></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div>
				<img src="{{ site.baseurl }}/images/soren.jpg" width="250" style="margin-bottom: 40px;">
		</div>
		<div>
			<h3><a name="about"></a>Mød Søren Skovsbøll</h3>
			<p>Jeg har 18 års erfaring med at designe mobile apps, websites og ditale services, der er nemme at bruge og nemme at vedligeholde.
<p>De kunder, jeg har arbejdet med, dækker en lang række industrier, herunder e-handel, sundhedspleje, transport, supermarkedskæder, grøn teknologi og meget mere.</p>
<p>Jeg kan lide at være på forkant og jeg elsker at træffe modige og fremadrettede beslutninger.</p>
<p>Samtidig skærer jeg ind til benet, så teknologien ikke kommer i vejen for at levere forretningsværdi. </p>
		</div>
	</div>
</section>
